*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
header a{
    color: white;
}
span{
    margin-right: 20px;
}
header{
    width: 100%;
    background: white;
    position: fixed;
    z-index: 10;
}
.wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
   
}
.header{
    padding: 20px 0;
}
.header-logo{
    display: flex;
    justify-content: center;
}
.header img{
    padding: 0 20px;
}
.header-wrapper img{
}
.header-contents{
    background: black;
    color: white;
    width: 100%;
    padding: 10px 0;
}
.header-contents ul{
    display: flex;
    list-style: none;
}
.header-contents li{
    margin-right:40px;
}
.header-contents li:hover{
    opacity: 0.7;
}
.introduction{
    margin: auto;
    padding-top: 150px;
}
.intro-list{
    display: flex;
}
.intro-contents{
    text-align: center;
    margin: 10px;
}
.intro-contents img{
    width: 100%;
}
.intro-contents h2{
    font-size: 16px;
    text-align: left;
}
.intro-contents p{
    border-bottom: black 1px solid;
    display: inline-block;
    font-size: 13px;
    margin: 20px 0;
    transition:all 3s;
}
.intro-contents p:hover{
    border-bottom: none;
}
.container{
    display: flex;
    
}
main{
    flex: 1;
    margin: 50px 0;
}
.main-contents{
    margin: 10px;
}
.main-contents h1{
    font-size: 25px;
}
.main-contents h2{
    font-size: 13px;
    font-weight: 200;
    margin: 10px 0;
}
.main-contents h3{
    font-size: 16px;
    font-weight: 200;
    width: 80%;
    margin:10px auto;
    
}
.main-contents img{
    width: 100%;
}
.main-read{
    text-align: center;

}
.main-contents p{
    border-bottom: black 1px solid;
    display: inline-block;
    font-size: 13px;
    margin: 15px 0;
    transition: all 1s;
}
.main-contents p:hover{
    border-bottom: none;
}
aside{
    width: 33.333%;
    margin: 50px 0;
}
aside h2{
    margin: 30px 0;
    font-size: 18px;
}
aside h3{
    width: 80%;
    margin: auto;
    text-align: left;
    font-size: 15px;
    font-weight: 200;
}
.my-contents{
    text-align: center;
}
.my-intro img{
    border-radius: 50%;
    width: 35%;
}
.Ranking{
    text-align: center;
    margin: 50px 0;
}
.Ranking img{
    width: 80%;
    margin: auto;
}
.Ranking h3{
    margin-bottom: 30px;
}
.Archive{
    text-align: center;
    margin: 50px 0;
}
.Archive-contents{
    width: 80%;
    margin: auto;
}
.Archive p{
    text-align: left;
    width: 100%;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    padding: 20px 0;
    font-size: 13px;
}
.Archive p + p{
    border-top: none;
}
footer{
    background: rgba(245, 245, 245, 0.897);
}
.foo{
    width: 33.333%;
}
.foo h2{
    font-size: 15px;
    font-weight: 600;
    margin: 30px;
}
.foo p{
    font-size: 12px;
    margin: 30px;
}
.About h4{
    font-size: 12px;
    margin: 5px 30px;
    font-weight: 200;
}
.Menu p{
    border-bottom: black 1px solid;
    border-top: black 1px solid;
    margin: 0 30px;
    padding: 20px 0;
}
.Menu p + p{
    border-top: none;
}
.footer-contents{
    display: flex;
}
.twitter-timeline{
    width: none;
    margin: 0 auto;
}
.copyright{
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
}
@media(max-width:1000px){
    
    }
@media(max-width:670px){
    .header-contents{
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    .header-contents ul{
        max-width: 670px;
        min-width: 430px;
    }
    .header-contents li:hover{
        opacity: 0.7;
    }
    .intro-list{
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    aside{
        width: 100%;
    }
    .footer-contents{
        flex-direction: column;
    }
    .foo{
        width: 100%;
    }
  
}
